/* 분류 */
img{
    width: 200px;
    height: 200px;
}


table.food-type{
    margin: 10px;
}
.food-type{
    border: 2px solid #eee;
    width: 800px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}


.type-rice,
.type-soup,
.type-sidedish,
.type-all {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-right: 1px solid #ddd;
    background-color: rgb(247, 232, 210);
}
.food-rice{
    display: flex;
    justify-content: center;
}


.rice-shrimp,
.rice-kimchi,
.water-gruel{
    display: flex;
    width: 200px;
    height: 250px;
    margin: 20px;
}

.menu-name{
    display: flex;
    justify-content: center;
}