body,
h1,
h2,
p,
a,
button,
form,
table,
ul,
ol,
li{
    margin: 0;
    padding: 0;
}

/* 폰트 */
@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url('https://raw.githubusercontent.com/su2minig/lets-cooking/main/img/table.jpg');
    background-size: 2000px;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu-type{
    font-size: 20px;
    margin: 100px;
    color: white
}

.layout-header{
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-h1{
    
    font-family: 'iceJaram-Rg';
    margin: 30px;
    color: white;
}

.layout-footer{
    font-family: 'Cafe24ClassicType-Regular';
    text-align: center;
    padding:20px 0;
    color: antiquewhite;
}

body{
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:60px;
}
main{
    flex-grow: 1;
    
}
.main_form{
    display: flex;
    justify-content: flex-end;
}
.img{
    margin: 20px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.main{
    text-align: center;
    width: 800px;
    margin: auto;
}

/* 모바일 */
@media screen and (min-width:320px) and (max-width:1024px){
    body{
        /* min-width: 320px; */
        max-width: 320px;
        display: flex;
        flex-direction: column;
        gap:30px;
    }
    .main{
        max-width: 320px;
    }

    .menu-type{
        font-size: 20px;
        margin: 0px;
    }
    .main_form{
        display: flex;
        justify-content: flex-start;
        width: 320px;
    }
    .img{
        width: 40px;
        height: 40px;
        margin: 10px;
    }
    .layout-footer{
        width: 350px;
    }
}