/* 분류 */
.food-type{
    border: 2px solid #eee;
    width: 800px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}

.type-name{
    color: aqua;
}

.food-rice{
    display: flex;
    justify-content: center;
}



.rice-shrimp,
.rice-kimchi,
.water-gruel{
    display: flex;
    width: 200px;
    height: 250px;
    margin: 20px;
}

.menu-name{
    display: flex;
    justify-content: center;
}
