body,
h1,
h2,
h3,
p,
a,
button,
fieldset,
legend,
ul,
ol,
li{
    margin: 0;
    padding: 0;
}

/* 폰트 */
@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


a{
    text-decoration: none;
    color: inherit;
}



.layout-header{
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-h1{
    /* font-family: 'Cafe24ClassicType-Regular'; */
    font-family: 'iceJaram-Rg';
    margin: 30px;
}

.layout-footer{
    font-family: 'Cafe24ClassicType-Regular';
    text-align: center;
    background-color: #eee;
    padding:30px 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:60px;
}
main{
    flex-grow: 1;
}
.main_form{
    display: flex;
    justify-content: center;
}
.img{
    margin: 20px;
    border-radius: 10px;
    width: 100px;
    height: 100px ;
}
.main{
    text-align: center;
    width: 800px;
    margin: auto;
}
.input{
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
    
}

#food-name{
    margin: 10px;
    width: 300px;
    height: 40px;
    border-radius: 15px 15px 15px 0;
    border: 3px solid rgba(236, 215, 26, 0.877);
    text-align: center;
}
.search{
    display: flex;
    width: 40px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: white;

}
.search:hover{
    background-color: gray;
}

.GPT_answer{

    font-family: 'Cafe24ClassicType-Regular';
    width: 800px;
    height: 400px;
    /* border: 1px solid #ddd;
    border-radius: 10px; */
    /* border-top: 3px solid #ccc; */
}
th{
    border-radius: 10px;
    border-right: 1px solid #ddd;
    background-color: rgb(247, 232, 210);
}
.gpt_ingredients,
.ingredients{
    border-bottom: 1px solid #ddd;
}

.gpt_ingredients,
.gpt_recipe {
    width: 100px;
}
.ingredients,
.recipe{
    text-align: left;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* 분류 */
.food-type{
    border: 2px solid #eee;
    width: 800px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
}

.type-name{
    color: aqua;
}
